{
  "openapi": "3.0.2",
  "info": {
    "title": "API OF WEB HEALTHY FIRST",
    "version": "1.0"
  },
  "servers": [{ "url": "https://trungvandeptry.uetbc.xyz" }],
  "components": {
    "schemas": {
      "user": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          }
        }
      },
      "responseSuccessString": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "responseSuccessObject": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "resBadRequest": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "userId": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          }
        }
      },
      "city": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string"
          }
        }
      },
      "updateArea": {
        "type": "object",
        "properties": {
          "expertId": {
            "type": "string"
          },
          "areaNumber": {
            "type": "number"
          }
        }
      },
      "office": {
        "type": "object",
        "properties": {
          "nameOffice": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "kindOfBusiness": {
            "type": "number"
          },
          "owner": {
            "type": "string"
          }
        }
      },
      "officeId": {
        "type": "object",
        "properties": {
          "officeId": {
            "type": "string"
          }
        }
      },
      "cerId": {
        "type": "object",
        "properties": {
          "cerId": {
            "type": "string"
          }
        }
      },
      "areaNumber": {
        "type": "object",
        "properties": {
          "city": {
            "type": "number"
          }
        }
      },
      "linkDoc": {
        "type": "object",
        "properties": {
          "linkDoc": {
            "type": "string"
          }
        }
      },
      "sigin": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "successString": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/responseSuccessString"
            }
          }
        }
      },
      "successObj": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/responseSuccessObject"
            }
          }
        }
      },
      "failed": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/resBadRequest"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/admin/createExpert": {
      "post": {
        "tags": ["Admin"],
        "description": "Create an expert",
        "parameters": [
          {
            "in": "body",
            "schema": {
              "$ref": "#/components/schemas/user"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessString"
                }
              }
            }
          }
        }
      }
    },
    "/admin/createManage": {
      "post": {
        "tags": ["Admin"],
        "description": "Create an expert",
        "parameters": [
          {
            "in": "body",
            "schema": {
              "$ref": "#/components/schemas/user"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessString"
                }
              }
            }
          }
        }
      }
    },
    "/admin/manages": {
      "get": {
        "tags": ["Admin"],
        "description": "Create an expert",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessObject"
                }
              }
            }
          }
        }
      }
    },
    "/admin/experts": {
      "get": {
        "tags": ["Admin"],
        "description": "Create an expert",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessObject"
                }
              }
            }
          }
        }
      }
    },
    "/admin/user": {
      "delete": {
        "tags": ["Admin"],
        "description": "Create an expert",
        "parameters": [
          {
            "in": "body",
            "schema": {
              "$ref": "#/components/schemas/userId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessString"
                }
              }
            }
          }
        }
      }
    },
    "/manage/listCity": {
      "get": {
        "tags": ["Manage"],
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessObject"
                }
              }
            }
          }
        }
      }
    },
    "/manage/listArea": {
      "get": {
        "tags": ["Manage"],
        "description": "",
        "parameters": [
          {
            "in": "body",
            "schema": {
              "$ref": "#/components/schemas/city"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessObject"
                }
              }
            }
          }
        }
      }
    },
    "/manage/experts": {
      "get": {
        "tags": ["Manage"],
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessObject"
                }
              }
            }
          }
        }
      }
    },
    "/manage/expert": {
      "put": {
        "tags": ["Manage"],
        "description": "",
        "parameters": [
          {
            "in": "body",
            "schema": {
              "$ref": "#/components/schemas/updateArea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessString"
                }
              }
            }
          }
        }
      }
    },
    "/offices": {
      "get": {
        "tags": ["Expert"],
        "description": "Nếu muốn lọc thì thêm /?status=[active, notactive,evict, expire, waiting]&kind=[1,2,3]",
        "responses": {
          "200": {
            "description": "OKk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessObject"
                }
              }
            }
          }
        }
      }
    },
    "/office": {
      "post": {
        "tags": ["Expert"],
        "description": "",
        "parameters": [
          {
            "in": "body",
            "schema": {
              "$ref": "#/components/schemas/office"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessString"
                }
              }
            }
          }
        }
      }
    },
    "/office/:officeId": {
      "get": {
        "tags": ["Expert"],
        "description": "",
        "parameters": [
          {
            "name": "officeId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessString"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "",
        "tags": ["Expert"],
        "parameters": [
          {
            "name": "officeId",
            "in": "path"
          },
          {
            "in": "body",
            "schema": {
              "$ref": "#/components/schemas/office"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "description": "",
        "tags": ["Expert"],
        "parameters": [
          {
            "name": "officeId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/cers": {
      "get": {
        "tags": ["Expert"],
        "description": "",
        "parameters": [
          {
            "in": "body",
            "schema": {
              "$ref": "#/components/schemas/officeId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessObject"
                }
              }
            }
          }
        }
      }
    },
    "/evicts": {
      "get": {
        "tags": ["Expert"],
        "description": "",
        "parameters": [
          {
            "in": "body",
            "schema": {
              "$ref": "#/components/schemas/cerId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessObject"
                }
              }
            }
          }
        }
      }
    },
    "/file": {
      "get": {
        "tags": ["Expert"],
        "description": "",
        "parameters": [
          {
            "in": "body",
            "schema": {
              "$ref": "#/components/schemas/linkDoc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessString"
                }
              }
            }
          }
        }
      }
    },
    "/signin": {
      "post": {
        "tags": ["Common"],
        "description": "",
        "parameters": [
          {
            "in": "body",
            "schema": {
              "$ref": "#/components/schemas/sigin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OKk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseSuccessObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Expert",
      "description": "Api of users as expert"
    },
    {
      "name": "Manage",
      "description": "APi of users as manage. A manage can call api of expert"
    },
    {
      "name": "Admin",
      "description": "Api of admin"
    },
    {
      "name": "Common",
      "description": "APi don't need token in header"
    }
  ]
}
